In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
train=pd.read_csv("Train.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [37]:
train.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,156,9.30,0.016047,4,249.8092,9,1999,3735.1380,True,False,False,True,False,True,False,False,False,True,False,False
1,8,5.92,0.019278,14,48.2692,3,2009,443.4228,False,True,False,True,False,False,False,True,False,False,True,False
2,662,17.50,0.016760,10,141.6180,9,1999,2097.2700,True,False,False,True,False,True,False,False,False,True,False,False
3,1121,19.20,0.000000,6,182.0950,0,1998,732.3800,False,True,False,False,False,False,False,True,True,False,False,False
4,1297,8.93,0.000000,9,53.8614,1,1987,994.7052,True,False,True,False,False,False,False,True,False,True,False,False

In [40]:
test=pd.read_csv("Test.csv")
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [38]:
test.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,1103,20.750000,0.007565,13,107.8622,9,1999,True,False,False,True,False,True,False,False,False,True,False,False
1,1067,8.300000,0.038428,4,87.3198,2,2007,False,True,False,False,False,False,True,False,False,True,False,False
2,1406,14.600000,0.099575,11,241.7538,0,1998,True,False,False,False,False,False,False,True,True,False,False,False
3,809,7.315000,0.015388,13,155.0340,2,2007,True,False,False,False,False,False,True,False,False,True,False,False
4,1184,12.695633,0.118599,4,234.2300,5,1985,False,True,False,True,False,False,False,True,False,False,False,True

In [6]:
print(train.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
print(test.isnull().sum())

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [7]:
print(train['Item_Weight'].mean())

12.857645184135976

In [8]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(),inplace=True)

In [9]:
print(test['Item_Weight'].mean())

12.695633368756642

In [10]:
test['Item_Weight'].fillna(test['Item_Weight'].mean(),inplace=True)

In [12]:
print(train.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
print(test.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [8]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [13]:
print(train.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [14]:
print(test.isnull().sum())

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [15]:
print(train['Item_Fat_Content'].value_counts())

Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [17]:
train.replace({'Item_Fat_Content':{'low fat':'Low Fat',
                                  'LF': 'Low Fat',
                                  'reg': 'Regular'}},inplace=True)

In [20]:
print(train['Item_Fat_Content'].value_counts())

Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [21]:
print(test['Item_Fat_Content'].value_counts())

Item_Fat_Content
Low Fat    3668
Regular    2013
Name: count, dtype: int64

In [22]:
test.replace({'Item_Fat_Content':{'low fat':'Low Fat',
                                  'LF': 'Low Fat',
                                  'reg': 'Regular'}},inplace=True)

In [23]:
print(test['Item_Fat_Content'].value_counts())

Item_Fat_Content
Low Fat    3668
Regular    2013
Name: count, dtype: int64

In [24]:
train= pd.get_dummies(train, columns=['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'])
test= pd.get_dummies(test, columns=['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'])

In [25]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [26]:
train['Item_Identifier'] = encoder.fit_transform(train['Item_Identifier'])
train['Item_Type'] = encoder.fit_transform(train['Item_Type'])
train['Outlet_Identifier'] = encoder.fit_transform(train['Outlet_Identifier'])

In [27]:
test['Item_Identifier'] = encoder.fit_transform(test['Item_Identifier'])
test['Item_Type'] = encoder.fit_transform(test['Item_Type'])
test['Outlet_Identifier'] = encoder.fit_transform(test['Outlet_Identifier'])

In [28]:
X_train1=train.drop('Item_Outlet_Sales',axis=1)
Y_train1=train['Item_Outlet_Sales']

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_train1,Y_train1, random_state=101, test_size=0.2)

In [30]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [31]:
models = [LinearRegression, Lasso, Ridge, SVR, DecisionTreeRegressor, RandomForestRegressor]
mae_scores = []
mse_scores = []
rmse_scores = []
r2_scores = []

for model in models:
    regressor = model().fit(X_train, Y_train)
    Y_pred = regressor.predict(X_test)
    
    mae_scores.append(mean_absolute_error(Y_test, Y_pred))
    mse_scores.append(mean_squared_error(Y_test, Y_pred))
    rmse_scores.append(mean_squared_error(Y_test, Y_pred, squared=False))
    r2_scores.append(r2_score(Y_test, Y_pred))

In [32]:
regression_metrics_df = pd.DataFrame({
    "Model": ["Linear Regression", "Lasso", "Ridge", "SVR", "Decision Tree Regressor", "Random Forest Regressor"],
    "Mean Absolute Error": mae_scores,
    "Mean Squared Error": mse_scores,
    "Root Mean Squared Error": rmse_scores,
    "R-squared (R2)": r2_scores
})

regression_metrics_df.set_index('Model', inplace=True)
regression_metrics_df

,Mean Absolute Error,Mean Squared Error,Root Mean Squared Error,R-squared (R2)
Model,,,,
Linear Regression,824.614384,1.204838e+06,1097.650907,0.557917
Lasso,823.702726,1.204236e+06,1097.376902,0.558138
Ridge,824.548621,1.204741e+06,1097.607058,0.557952
SVR,1276.063178,2.807871e+06,1675.670425,-0.030274
Decision Tree Regressor,1091.742133,2.403025e+06,1550.169233,0.118274
Random Forest Regressor,778.755793,1.218538e+06,1103.873903,0.552890

In [33]:
model=RandomForestRegressor
regressor = model().fit(X_train, Y_train)
prediction = regressor.predict(X_test)

In [36]:
print(prediction)

[1859.71256  3475.888796 1289.568046 ...  519.343974 1747.651762
 2492.408984]

In [35]:
print(r2_score(Y_test,prediction))

0.5572458171935326